.icon-button-wrapper {
  width: 34px;
  height: 34px;
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:first-child) {
    margin-left: 5px;
  }

  .icon-button {
    width: 14px;
    height: 14px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(204, 204, 204);
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    &.disabled {
      opacity: 0.5;
      cursor: auto;
    }

    cursor: pointer;
    &:hover:not(.disabled) {
      background-color: rgb(210, 210, 215);
    }
    &:active:not(.disabled) {
      background: rgb(190,190,215);
    }
    outline: none;

    & > img {
      width: 14px;
      height: 14px;
    }
  }
}